bin
obj
*.suo
*.user
bindll
Deploy
packages
.nuget
EnhDate.cs
*.dll
NDO.xml
NDOTest.sdf
TestRunner.ndoproj
NDO.Sql.log
*.nupkg
logs.txt
.vs
NDOPackage/Backup
/nuget/NDOEnhancer.exe
/nuget/NDOEnhancer.pdb
