bin
obj
*.suo
*.user
bindll
Deploy
packages
.nuget
EnhDate.cs
*.dll
NDO.xml
NDOTest.sdf
TestRunner.ndoproj
NDO.Sql.log
*.nupkg
logs.txt
.vs
NDOPackage/Backup
/nuget/NDOEnhancer.exe
/nuget/NDOEnhancer.pdb
UsersGuide
/QueryTests/NDOMapping.xml
SourceRevisionId.props
/NDOPackage/source.extension.cs
/NDOPackage/VSCommandTable.cs
/NDOEnhancer.BuildTask/NDOEnhancer.BuildTask/ConfigurationOptions.cs
/NDOEnhancer.BuildTask/NDOEnhancer.BuildTask/ProjectDescription.cs
/NDOEnhancer.BuildTask/NDOEnhancer.BuildTask/XmlHelper.cs
