<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ndo.dll" version="3.0.0.9" targetFramework="net40" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net471" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Unity.Container" version="5.8.6" targetFramework="net40" requireReinstallation="true" />
</packages>